@charset "utf-8";
/*
Alec Bonnell
CIS 468 Assignment 3
10/30/18
*/

#info {
    display: flex;
    justify-content: space-between;
}

#info h1 {
    font-weight: normal;
}

.label {
    text-anchor: middle;
    fill: black;
    font-weight: bold;
}

.legendText {
    text-anchor: end;
    fill: black;
}

#mapid {
    height: 600px;
    width: 600px;
}

.left {
    border: solid;
    border-color: blue;
    padding: 1em;
    color: green;
}

.right {
    font-style: italic;
    text-align: right;
}

.b {
    fill: purple;
}

.axis {
    text-anchor: middle;
}
